.App-header {
    background-color: white;
    min-height: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: rgb(15, 168, 168);
    font-family: 'Acme', sans-serif;
    padding: 20px;
  }

  .Header-logo {
    max-width: 40px;
    max-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
