.place-container {
    height: 100vh;
    width: auto;
    border: 3px solid black;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .bucketlist {
    height: 80vh;
    width: 200vh;
    border: 1px solid black;
    margin: 10px;
  }

  .place {
    
    height: 80vh;
    width: 200vh;
    border: 1px solid black;
    margin: 10px;
  }