

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Body {
  display: flex;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/BIG_LEAF_MAPLES_HOH.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}

.place-container {
  height: 50vh;
  width: 50vh;
  border: 1px solid black;
  margin: 20px auto;
  padding: 10px;
  max-width: 30vw;
}
.place {
  height: 30vh;
  width: 30vh;
  border: 1px solid black;
  margin: 10px;
}
